- var articles = articles || [];
- var article = article || {};

header.jumbotron.subhead
	h1= currentNetwork.name
.row-fluid
	.span5.well
		h2 Articles
		hr
		each a in articles
			!= partial('articles/_listing', { article: a })
	.span6
		#article-glance!= partial('articles/_glance', { article: article })
