-var networks = networks || [];
-var invitations = invitations || [];
!!! 5
html(lang="en")
	head
		title Missive
		style
			body {
				padding-top: 60px;
			}
		include includes/head
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='#') Missive
					.nav-collapse
						ul.nav
							li#a-
								a(href='/') Home
							li#a-networks
								a(href='/networks') Networks
							li#a-review
								a(href='/review') Review
							li#a-write
								a(href='/write') Write
							li#a-compose
								a(href='/compose') Compose
						ul.nav.pull-right
							if user
								li#a-signout
									a(href='/signout') Sign Out
								li.divider-vertical
								if networks.length > 0 || invitations.length > 0
									li.dropdown
										a.dropdown-toggle(data-toggle='dropdown', href='#')= currentNetwork ? currentNetwork.name : 'Join a network'
											b.caret
										ul.dropdown-menu
											each network in networks
												li
													a(href= '/networks/byId/' + network._id)= network.name
											if (networks.length > 0 && invitations.length > 0)
												li.divider
											each network in invitations
												li
													a(href= '/networks/acceptInvite/' + network._id)= 'Join ' + network.name
											li.divider
											li
												a(href= '/networks/new') Start a new network
								else
									li
										a(href= '/networks/new') Start a new network
							else
								li#a-signin
									a(href='/signin') Sign In
								li#a-signup
									a(href='/signup') Sign Up

		.container!= body
		include includes/foot
