!!! 5
html(lang="en")
	head
		title Missive
		include includes/head
	body
		.container
			.header
				a.brand(href='/') Missive
				if user
					!= partial('_networksNav', { networks: networks, invitations: invitations })
			.content.well(data-margin-top='40', data-margin-bottom='40')!= body
			.footer
		include includes/foot
