!!! 5
html(lang="en")
	head
		title Missive
		style
			body {
				padding-top: 60px;
			}
		include includes/head
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='#') Missive
					.nav-collapse
						ul.nav
							li#a-
								a(href='/') Home
							li#a-networks
								a(href='/networks') Networks
							li#a-review
								a(href='/review') Review
							li#a-write
								a(href='/write') Write
						ul.nav.nav-sidebar
							li
								.btn-group
									a.btn.btn-primary(href= '#') The New Yorker
									a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
										span.caret
									ul.dropdown-menu
										li
											a(href= '#') The New Yorker
										li
											a(href= '#') The Economist
										li
											a(href= '#') The Atlantic
										li.divider
										li
											a(href= '/networks/new') Start a new network
							if user
								li#a-signout
									a(href='/signout') Sign Out
							else
								li#a-signin
									a(href='/signin') Sign In
								li#a-signup
									a(href='/signup') Sign Up
		.container!= body
		include includes/foot
