header.jumbotron.subhead
	h1 Networks
	p.lead Collaborate with your network to produce awesome publications!
	.subnav
		ul.nav.nav-pills
			li.active
				a(href='#') Users
			li
				a(href='#') Readers
			li
				a(href='#') Publications
			li
				a(href='#') Stats
