header.jumbotron.subhead
	h1= currentNetwork.name
	p.lead Collaborate with your network to produce awesome publications!
	.subnav
		ul.nav.nav-pills
			li.active
				a(href='#members') Members
			li
				a(href='#readers') Readers
			li
				a(href='#publications') Publications
			li
				a(href='#stats') Stats
	.container.block#members
		!= partial('networks/_users')
	.container.block#readers
		!= partial('networks/_readers')
	.container.block#publications
		!= partial('networks/_publications')
	.container.block#stats
		!= partial('networks/_stats')
