- var user = user || {};
.row
	.span8
		h3 Choose your current network or start a new one
		.btn-group
			a.btn(href= '#') The New Yorker
			a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
				span.caret
			ul.dropdown-menu
				li
					a(href= '#') The New Yorker
				li
					a(href= '#') The Economist
				li
					a(href= '#') The Atlantic
				li.divider
				li
					a(href= '#') Start a new network
	.span4
		h3 Networks
		p Networks are the collaborative groups that as an entity publishes missives.
